body, html {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.result-section {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feedback {
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    margin-top: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.feedback.correct {
    background-color: #28a745;
}

.feedback.incorrect {
    background-color: #dc3545;
}

.options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.nav {
    justify-content: flex-start; /* Align navbar items to the start (left) */
}